<h1>Welome to Playlister!</h1>

<h3>Menu</h3>
<ul>
  <li><a href="/songs/new">Make a New Song</a></li>
  <li><a href="/songs">See All the Songs</a></li>
  <li><a href="/artists">See All the Artists</a></li>
<<<<<<< HEAD
  <li><a href="/genres">See All the Genres</a></li>
=======
  <li><a href="/artists">See All the Genres</a></li>
>>>>>>> 36572c68d2b4f45762d2494ac5bb8383fbeb5c4e
</ul>
